<div class="center">
  <h1> Classement des patrouilles </h1>
</div>
<ul class="ml-5">
  <% @patrols.sort_by(&:ranking).each do |p| %>
   <ul>
      <a href="/patrols/<%= p.id %>">
        <div class="patrol-link">
          <%= p.ranking %>.
          <%= image_tag("#{p.name}.png", alt: "#{p.name}.png", class: 'avatar') %>
          <%= p.name %> (<%= p.troop.name %>) - <%= number_with_delimiter(p.total_gains) %>
        </div>
      </a>
   </ul>
  <% end %>
</ul>
