<% if @patrol.city.pillaged %>
  <p class="flash warning">Votre ville, <%= @patrol.city.name %>, a été pillée et la population réduites de moitié</p>
<% end %>
<h1 class="center">
  <%= @patrol.name %>
</h1>
<% if current_user.admin? %>
  <% if @patrol.id != 54 %>
    <%= link_to "Prochaine patrouille (#{Patrol.find(@patrol.id + 1).troop.name})", patrol_path(@patrol.id + 1), class:"nav-link" %>
  <% end %>
<% else %>
  <div class="row">
    <ul class="nav nav-tabs nav-justified">
    <% current_user.troop.patrols.each do |p| %>
      <li class="nav-item" style="width:13em;">
        <%= link_to p.name, patrol_path(p), class: "nav-link #{p == @patrol ? 'active' : ''}" %>
      </li>
    <% end %>
  </ul>
  </div>
<% end %>
<br>
<div class="row">
  <div class="col-lg-4 col-12">
    <div class="card" style="margin-bottom: 20px; background-color:lightgrey;">
      <div class="card-body">
        <h3 class="card-title">
          Score
        </h3>
        <br>
        <h5>
          Classement:
          <span class="right">
            <%= @patrol.ranking %>
            <% if @patrol.ranking == 1 %>
              er
            <% else %>
              ème
            <% end %>
          </span>
        </h5>
        <br>
        <h5>
          Thune :
          <span class="right">
            <%= number_with_delimiter(@patrol.money) %> Or
          <span>
        </h5>
        <br>
        <h5>
          Score total:
          <span class="right">
            <%= number_with_delimiter(@patrol.total_gains) %>
          <span>
        </h5>
      </div>
    </div>
  </div>

  <br>
  <div class="col-lg-4 col-12">
    <div class="card" style="margin-bottom: 20px; background-color:lightgrey;">
      <div class="card-body">
        <h3 class="card-title">
          Guilde :
          <%= @patrol.guild.name %>
        </h3>
            <p>
              Coûts des fortifications:  <span class="right <%=@patrol.defense_construction_cost_multiplicator < 1 ? 'green' : @patrol.defense_construction_cost_multiplicator > 1 ? 'red' : '' %>">   <%= (@patrol.defense_construction_cost_multiplicator * 100).round %> % </span>
            </p>
            <p>
              Coûts des machines de guerre: <span class="right <%=@patrol.attack_construction_cost_multiplicator < 1 ? 'green' : @patrol.attack_construction_cost_multiplicator > 1 ? 'red' : '' %>">  <%= (@patrol.attack_construction_cost_multiplicator * 100).round %> % </span>
            </p>
            <p>
              Puissance d'attaques: <span class="right <%=@patrol.attack_power_multiplicator > 1 ? 'green' : @patrol.attack_power_multiplicator < 1 ? 'red' : '' %>">  <%= (@patrol.attack_power_multiplicator * 100).round %> % </span>
            </p>
            <p>
              Puissance défensive: <span class="right <%=@patrol.defense_power_multiplicator > 1 ? 'green' : @patrol.defense_power_multiplicator < 1 ? 'red' : '' %>">  <%= (@patrol.defense_power_multiplicator * 100).round %> % </span>
            </p>
            <p>
              Revenus passif: <span class="right <%=@patrol.revenues_multiplicator > 1 ? 'green' : @patrol.revenues_multiplicator < 1 ? 'red' : '' %>">  <%= (@patrol.revenues_multiplicator * 100).round %> % </span>
            </p>
            <p>
              Revenus miniers: <span class="right <%=@patrol.mining_multiplicator > 1 ? 'green' : @patrol.mining_multiplicator < 1 ? 'red' : '' %>">  <%= (@patrol.mining_multiplicator * 100).round %> % </span>
            </p>

          <% if @patrol.hold_regional_capital && !@patrol.guild_changed %>
            <%= simple_form_for @patrol do |f| %>
              <%= f.hidden_field :patrol_id, value: @patrol.id %>
              <%= f.hidden_field :guild_changed, value: true %>
              <%= f.collection_select :guild_id, Guild.all, :id, :name%>
              <%= f.button :submit, 'Changer de guilde', class: "btn-primary" %>
            <% end %>
          <%end%>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-12">
    <div class="card" style="margin-bottom: 20px; background-color:lightgrey;">
      <div class="card-body">
        <h3>Résumé du tour passé</h3>
        EVENEMENT:
        <span>
          <%= @patrol.receipt.event %>
        </span>
        <hr>
          <p>
            Revenus de taxes:
            <span class="right" style="color:green;">
              + <%= @patrol.receipt.base_revenues %> Or
            </span>
          </p>
          <p>
            Revenus miniers:
            <span class="right" style="color:green;">
              + <%= @patrol.receipt.minings_winnings %> Or
            </span>
          </p>
          <p>
            Revenus de l'attaque:
            <span class="right" style="color:green;">
              + <%= @patrol.receipt.attack_winnings %> Or
            </span>
          </p>
          <% if @patrol.hold_paris? %>
            <p>
              Revenus grâce à Paris:
              <span class="right" style="color:green;">
                + <%= @patrol.receipt.paris_winning %> Or
              </span>
            </p>
          <% end  %>
          <% unless @patrol.receipt.defense_losses.zero? %>
            <p>
              Perte de défense:
              <span class="right" style="color:red;">
                - <%= @patrol.receipt.defense_losses %> Or
              </span>
            </p>
          <% end %>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-lg-5 col-12">
    <div class="card" style="margin-bottom: 20px; background-color:lightgrey;">
      <div class="card-body">
        <h4> Attaque de la patrouille: </h4>
        <% unless @patrol.attack? %>
          <%= simple_form_for @attack do |f| %>
            <%= f.collection_select :city_id, City.select { |c| c != @patrol.city }, :id, :label %>
            <%= f.hidden_field :patrol_id, value: @patrol.id %>
            <%= f.input :man_power, label: "Nombre d'hommes:" %>
            <%= f.button :submit, 'Attaquer', class: "btn-primary" %>
          <% end %>
        <% else %>
          <p> Attaque sur:
            <span class="right">
              <%= @patrol.attack.city.name %>
              <% unless @patrol.attack.city.paris?%>
                des <%= @patrol.attack.city.troop.name %>
              <% end %>
            </span>
          </p>
          <p> Nombres d'hommes:
            <span class="right">
              <%= @patrol.attack.man_power %>
            </span>
          </p>
          <p> Multiplicateur:
            <span class="right <%=@patrol.attack_multiplicator > 1 ? 'green' : @patrol.attack_multiplicator < 1 ? 'red' : '' %>">
              x <%= (@patrol.attack_multiplicator * 100).round%> %
            </span>
          </p>
          <p> Puissance totale:
            <span class="right">
              <%= @patrol.attack.total_attack_power %>
            </span>
          </p>
          <%= button_to 'Annuler', @patrol.attack, method: :delete, class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-12">
    <div class="card" style="margin-bottom: 20px; background-color:lightgrey;">
      <div class="card-body">
        <h4> Défense de la patrouille:
        <% if @patrol.hold_paris? && @patrol.defense.present? %>
          (<%= @patrol.defense.city.name %>)
        <% end %>
        </h4>
        <p> Défense actuelle de <%= @patrol.city.name %>:  <span class="right"> <%= @patrol.city.total_defense %> </span></p>
        <% if @patrol.hold_paris? %>
          <p> Défense actuelle de paris:  <span class="right"> <%= City.paris.total_defense %> </span></p>
        <% end %>
        <% unless @patrol.defense? %>
          <%= simple_form_for @defense do |f| %>
            <% if @patrol.hold_paris? %>
              <%= f.collection_select :city_id, [City.paris, @patrol.city], :id, :name %>
            <% else  %>
              <%= f.hidden_field :city_id, value: @patrol.city.id %>
            <% end  %>
            <%= f.hidden_field :patrol_id, value: @patrol.id %>
            <%= f.input :man_power, label: "Nombre d'hommes:" %>
            <%= f.button :submit, 'Défendre', class: "btn-primary" %>
          <% end %>
        <% else %>
          <p> Nombres d'hommes:
            <span class="right">
              <%= @patrol.defense.man_power %>
            </span>
          </p>
          <p>
            Multiplicateur:
            <span class="right <%=@patrol.defense.multiplicator > 1 ? 'green' : @patrol.defense.multiplicator < 1 ? 'red' : '' %>">
              x <%= (@patrol.defense.multiplicator * 100).round%> %
            </span>
          </p>
          <p> Puissance totale:
            <span class="right">
              <%= @patrol.defense.total_defense_power %>
            </span>
          </p>
          <%= button_to 'Annuler', @patrol.defense, method: :delete, class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-12">
    <div class="card" style="margin-bottom: 20px; background-color:lightgrey;">
      <div class="card-body">
        <h4> Homme qui partent à la mine: </h4>
        <% unless @patrol.mining? %>
          <%= simple_form_for @mining do |f| %>
            <%= f.hidden_field :patrol_id, value: @patrol.id %>
            <%= f.input :man_power, label: "Nombre d'hommes:" %>
            <%= f.button :submit, 'Envoyer au charbon', class: "btn-primary" %>
          <% end %>
        <% else %>
          <p> Nombre d'hommes: <%= @patrol.mining.man_power %> </p>
          <p> Revenus prévus: <%= @patrol.mining.total_revenues.round %> </p>
          <%= button_to 'Annuler', @patrol.mining, method: :delete, class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% if @patrol.constructions.reject(&:fortification?).any?  %>
  <hr>
  <h4> Constructions de la patrouille </h4>
  <div class="row">
    <% @patrol.constructions.reject(&:fortification?).each do |c|  %>
      <div class="col-lg-3 col-12">
        <div class="card" style="margin-bottom: 20px; background-color:lightgrey;">
          <div class="card-body">
            <h4> <%= c.building.name %> </h4>
            <p> Usage: <%= c.building.usage %> </p>
            <p> Puissance: + <%= (c.building.multiplicator * 100).round %> % </p>
            <p> Durée restante: <%= c.durability %> </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<%end%>
<hr>
<div class="row">
  <div class="col-lg-4 col-12">
    <div class="card" style="margin-bottom: 20px; background-color:lightgrey;">
      <div class="card-body">
        <h4> Constructions d'attaque: </h4>
          <% Building.attacks.each do |b| %>
            <hr>
            <%= b.name %> (<%= @patrol.constructions.count { |c| c.building == b } %>):
            <ul>
              <li>
                Coût: <%= b.cost %> Or
              </li>
              <li>
                Durabilité: <%= b.durability %> tour
              </li>
              <li>
                Puissance: + <%= (b.multiplicator * 100).round %> %
              </li>
            </ul>
          <% end %>
          <hr>
          <%= simple_form_for @construction do |f| %>
            <%= f.hidden_field :city_id, value: @patrol.city.id %>
            <%= f.collection_select :building_id, Building.attacks, :id, :name %>
            <%= f.hidden_field :patrol_id, value: @patrol.id %>
            <%= f.button :submit, 'Construire', class: "btn-primary" %>
          <% end %>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-12">
    <div class="card" style="margin-bottom: 20px; background-color:lightgrey;">
      <div class="card-body">
        <h4> Constructions de défense: </h4>
          <% Building.defenses.each do |b| %>
          <hr>
            <%= b.name %> (<%= @patrol.constructions.count { |c| c.building == b } %>):
            <ul>
              <li>
                Coût: <%= b.cost %> Or
              </li>
              <li>
                Durabilité: <%= b.durability %> tour
              </li>
              <li>
                Puissance: + <%= (b.multiplicator * 100).round %> %
              </li>
            </ul>
          <% end %>
          <hr>
          <%= simple_form_for @construction do |f| %>
          <% if @patrol.hold_paris? %>
            <p>
              Le bonus s'applique à la ville que vous défendez
             </p>
          <% else  %>
            <%= f.hidden_field :city_id, value: @patrol.city.id %>
          <% end  %>
            <%= f.collection_select :building_id, Building.defenses, :id, :name %>
            <%= f.hidden_field :patrol_id, value: @patrol.id %>
            <%= f.button :submit, 'Construire', class: "btn-primary" %>
          <% end %>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-12">
    <div class="card" style="margin-bottom: 20px; background-color:lightgrey;">
      <div class="card-body">
        <h4> Niveau de fortification:  </h4>
          <%= @patrol.city.name %>: <%= @patrol.city.fortification_level %>/<%= @patrol.city.fortification_next_level %>
          - <%= @patrol.city.fortification_label %>
          <% if @patrol.hold_paris? %>
            <br>
            Paris: <%= City.paris.fortification_level %>/<%= City.paris.fortification_next_level %>
            <%= City.paris.fortification_label %>
          <% end %>
          <% Building.fortifications.each do |b| %>
            <hr>
            <%= b.name %> (<%= @patrol.constructions.count { |c| c.building == b } %>):
            <ul>
              <li>
                Coût: <%= b.cost %> Or
              </li>
              <li>
                Puissance: + <%= (b.multiplicator * 100).round %> %
              </li>
            </ul>
          <% end %>
          <hr>
          <% unless @patrol.fortification_complete? %>
            <%= simple_form_for @construction do |f| %>
            <% if @patrol.hold_paris? %>
              <p>
                Sélectionner Paris pour construire sur Paname et pas sur votre ville.
              </p>
              <%= f.collection_select :city_id, [City.paris, @patrol.city], :id, :name %>
            <% else  %>
              <%= f.hidden_field :city_id, value: @patrol.city.id %>
            <% end  %>
              <%= f.collection_select :building_id, @patrol.constructable_fortifications, :id, :name %>
              <%= f.hidden_field :patrol_id, value: @patrol.id %>
              <%= f.button :submit, 'Construire', class: "btn-primary" %>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
</div>
