<h1>
  <%= @patrol.name %>
</h1>

<p>
  thune :
  <%= @patrol.money %>
</p>


<%= simple_form_for @attack do |f| %>
  <%= f.collection_select :city_id, City.all, :id, :name %>
  <%= f.hidden_field :patrol_id, value: @patrol.id %>
  <%= f.input :man_power %>
  <%= f.button :submit %>
<% end %>

<%= simple_form_for @defense do |f| %>
  <%= f.hidden_field :city_id, value: @patrol.troop.city %>
  <%= f.hidden_field :patrol_id, value: @patrol.id %>
  <%= f.input :man_power %>
  <%= f.button :submit %>
<% end %>

<%= simple_form_for @mining do |f| %>
  <%= f.hidden_field :patrol_id, value: @patrol.id %>
  <%= f.input :man_power %>
  <%= f.button :submit %>
<% end %>
