<% if @patrol.city.pillaged %>
  <p class="flash warning">Votre ville, <%= @patrol.city.name %>, a été pillée et les fortifications réduites de moitié</p>
<% end %>
<h1>
  <%= @patrol.name %>
</h1>
<div class="row">
  <div class="col-sm-4">
    <div class="card" style="margin-bottom: 20px; background-color:lightgrey;">
      <div class="card-body">
        <h3 class="card-title">
          Score
        </h3>
        <br>
        <h5>
          Classement:
          <span class="right">
            <%= @patrol.ranking %>
            <% if @patrol.ranking == 1 %>
              er
            <% else %>
              ème
            <% end %>
          </span>
        </h5>
        <br>
        <h5>
          Thune :
          <span class="right">
            <%= @patrol.money %> Or
          <span>
        </h5>
        <br>
        <h5>
          Score total:
          <span class="right">
            <%= @patrol.total_gains %>
          <span>
        </h5>
      </div>
    </div>
  </div>

  <br>
  <div class="col-sm-4">
    <div class="card" style="margin-bottom: 20px; background-color:lightgrey;">
      <div class="card-body">
        <h3 class="card-title">
          Guilde :
          <%= @patrol.guild.name %>
        </h3>
            <p>
              Coûts bâtiment défensifs:  <span class="right <%=@patrol.defense_construction_cost_multiplicator < 1 ? 'green' : @patrol.defense_construction_cost_multiplicator > 1 ? 'red' : '' %>">  x <%= @patrol.defense_construction_cost_multiplicator %> </span>
            </p>
            <p>
              Coûts engins de siège: <span class="right <%=@patrol.attack_construction_cost_multiplicator < 1 ? 'green' : @patrol.attack_construction_cost_multiplicator > 1 ? 'red' : '' %>"> x <%= @patrol.attack_construction_cost_multiplicator %> </span>
            </p>
            <p>
              Puissance d'attaques: <span class="right <%=@patrol.attack_power_multiplicator > 1 ? 'green' : @patrol.attack_power_multiplicator < 1 ? 'red' : '' %>"> x <%= @patrol.attack_power_multiplicator %> </span>
            </p>
            <p>
              Puissance défensive: <span class="right <%=@patrol.defense_power_multiplicator > 1 ? 'green' : @patrol.defense_power_multiplicator < 1 ? 'red' : '' %>"> x <%= @patrol.defense_power_multiplicator %> </span>
            </p>
            <p>
              Revenus passif: <span class="right <%=@patrol.revenues_multiplicator > 1 ? 'green' : @patrol.revenues_multiplicator < 1 ? 'red' : '' %>"> x <%= @patrol.revenues_multiplicator %> </span>
            </p>
            <p>
              Revenus miniers: <span class="right <%=@patrol.mining_multiplicator > 1 ? 'green' : @patrol.mining_multiplicator < 1 ? 'red' : '' %>"> x <%= @patrol.mining_multiplicator %> </span>
            </p>

          <% if @patrol.hold_regional_capital %>
            <%= simple_form_for @patrol do |f| %>
              <%= f.hidden_field :patrol_id, value: @patrol.id %>
              <%= f.collection_select :guild_id, Guild.all, :id, :name%>
              <%= f.button :submit, class: "btn-primary" %>
            <% end %>
          <%end%>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card" style="margin-bottom: 20px; background-color:lightgrey;">
      <div class="card-body">
        <h3>Résumé du tour passé</h3>
        EVENEMENT:
        <span>
          <%= @patrol.receipt.event %>
        </span>
        <hr>
          <p>
            Revenus de taxes:
            <span class="right" style="color:green;">
              + <%= @patrol.receipt.base_revenues %> Or
            </span>
          </p>
          <p>
            Revenus miniers:
            <span class="right" style="color:green;">
              + <%= @patrol.receipt.minings_winnings %> Or
            </span>
          </p>
          <p>
            Revenus de l'attaque:
            <span class="right" style="color:green;">
              + <%= @patrol.receipt.attack_winnings %> Or
            </span>
          </p>
          <% if @patrol.hold_paris? %>
            <p>
              Revenus grâce à Paris:
              <span class="right" style="color:green;">
                + <%= @patrol.receipt.paris_winning %> Or
              </span>
            </p>
          <% end  %>
          <% if @patrol.receipt.defense_losses.negative? %>
            <p>
              Perte de défense:
              <span class="right" style="color:red;">
                <%= @patrol.receipt.defense_losses %> Or
              </span>
            </p>
          <% end %>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-5 col-sm-6">
    <div class="card" style="margin-bottom: 20px; background-color:lightgrey;">
      <div class="card-body">
        <h4> Attaque de la patrouille: </h4>
        <% if !@patrol.attack? %>
          <%= simple_form_for @attack do |f| %>
            <%= f.collection_select :city_id, City.all, :id, :label %>
            <%= f.hidden_field :patrol_id, value: @patrol.id %>
            <%= f.input :man_power %>
            <%= f.button :submit, class: "btn-primary" %>
          <% end %>
        <% else %>
          <p> Attaque sur:
            <span class="right">
              <%= @patrol.attack.city.name %>
              <% if !@patrol.attack.city.paris?%>
                des <%= @patrol.attack.city.troop.name %>
              <% end %>
            </span>
          </p>
          <p> Puissance des hommes:
            <span class="right">
              <%= @patrol.attack.man_power %>
            </span>
          </p>
          <p> Multiplicateur des constructions:
            <span class="right">
              x <%= @patrol.attack_multiplicator %>
            </span>
          </p>
          <p> Puissance totale:
            <span class="right">
              <%= @patrol.attack.total_attack_power %>
            </span>
          </p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6">
    <div class="card" style="margin-bottom: 20px; background-color:lightgrey;">
      <div class="card-body">
        <h4> Défense de la patrouille: </h4>
        <% if !@patrol.defense? %>
          <%= simple_form_for @defense do |f| %>
            <% if @patrol.hold_paris? %>
              <%= f.collection_select :city_id, [City.paris, @patrol.city], :id, :name %>
            <% else  %>
              <%= f.hidden_field :city_id, value: @patrol.city.id %>
            <% end  %>
            <%= f.hidden_field :patrol_id, value: @patrol.id %>
            <%= f.input :man_power %>
            <%= f.button :submit, class: "btn-primary" %>
          <% end %>
        <% else %>
          <p> Puissance des hommes: <%= @patrol.defense.man_power %> </p>
          <p> Multiplicateur des constructions: x <%= @patrol.city.defense_building_multiplicator %> </p>
          <p> Puissance totale: <%= @patrol.defense.total_defense_power %> </p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-6">
    <div class="card" style="margin-bottom: 20px; background-color:lightgrey;">
      <div class="card-body">
        <h4> Homme qui partent à la mine: </h4>
        <% if !@patrol.mining? %>
          <%= simple_form_for @mining do |f| %>
            <%= f.hidden_field :patrol_id, value: @patrol.id %>
            <%= f.input :man_power %>
            <%= f.button :submit, class: "btn-primary" %>
          <% end %>
        <% else %>
          <p> Nombre d'hommes: <%= @patrol.mining.man_power %> </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<hr>
<% if @patrol.constructions.any?  %>
  <h4> Constructions de la patrouille </h4>
  <div class="row">
    <% @patrol.constructions.each do |c|  %>
      <div class="col-md-3 col-sm-4">
        <div class="card" style="margin-bottom: 20px; background-color:lightgrey;">
          <div class="card-body">
            <h4> <%= c.building.name %> </h4>
            <p> Usage: <%= c.building.usage %> </p>
            <p> Multiplicateur: <%= c.building.multiplicator %> </p>
            <p> Durée: <%= c.building.durability %> </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<%end%>
<hr>
<div class="row">
  <div class="col-md-6">
    <div class="card" style="margin-bottom: 20px; background-color:lightgrey;">
      <div class="card-body">
        <h4> Constructions d'attaque: </h4>
          <% Building.select{ |b| b.usage.eql?('attack') }.each do |b| %>
            <hr>
            <%= b.name %>:
            <ul>
              <li>
                Coût: <%= b.cost %> Or
              </li>
              <li>
                Durabilité: <%= b.durability %> tour
              </li>
              <li>
                Multiplicateur: x <%= b.multiplicator %>
              </li>
            </ul>

          <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card" style="margin-bottom: 20px; background-color:lightgrey;">
      <div class="card-body">
        <h4> Constructions de défense: </h4>
          <% Building.select{ |b| b.usage.eql?('defense') }.each do |b| %>
          <hr>
            <%= b.name %>:
            <ul>
              <li>
                Coût: <%= b.cost %> Or
              </li>
              <li>
                Multiplicateur: x <%= b.multiplicator %>
              </li>
            </ul>
          <% end %>
        <%= simple_form_for @construction do |f| %>
        <% if @patrol.hold_paris? %>
          <p>
            Sélectionner Paris pour les batiments de défense pour construire sur Paname.
            Pour les bâtiments d'attaque ça n'a pas d'importance.
           </p>
          <%= f.collection_select :city_id, [City.paris, @patrol.city], :id, :name %>
        <% else  %>
          <%= f.hidden_field :city_id, value: @patrol.city.id %>
        <% end  %>
          <%= f.collection_select :building_id, Building.all, :id, :name %>
          <%= f.hidden_field :patrol_id, value: @patrol.id %>
          <%= f.button :submit, class: "btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
