<!DOCTYPE html>
<div class="row" style="text-align:center;">
  <h1> Toutes les patrouilles </h1>
</div>
<div class="row">
  <% Troop.all.each do |t| %>
    <div class="col-xs-12 col-md-4">
      <ul>
        <li>
          <%= t.name %>
          (<%= t.turns_holding_paris %>)
          <% if t.hold_paris %>
            DETIENT PARIS
          <% end %>
          <ul>
            <% t.patrols.sort_by(&:total_gains).reverse.each do |p|%>
            <li>
              <%= link_to p.name, patrol_path(p.id) %>
              score total: <%= p.total_gains %>
            </li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>
</div>


<%= link_to 'finir le tour', end_turn_path, class: 'btn btn-primary' %>
