<!DOCTYPE html>
<div class="center">
  <h1> Toutes les patrouilles </h1>
</div>
<div class="row">
  <% Troop.all.sort_by(&:turns_holding_paris).reverse.each do |t|%>
  <div class="col-12 col-lg-4">
    <div class="card" style="margin-bottom: 20px; background-color:lightgrey;">
      <div class="card-body">
        <div class="center">
          <h4>
            <%= t.country_name %>
          </h4>
          <%= image_tag("#{t.city.name}.png", alt: "#{t.city.name}.png", class: 'blason') %>
        </div>

        <h5 class="card-title"><%= t.name %> <span class="right"> Score: <%= t.turns_holding_paris %> </span>
          <% if t.hold_paris? %>
            - Tient Paris
          <% end %>
        </h5>
        <hr>
        <% t.patrols.sort_by(&:total_gains).reverse.each do |p|%>
          <a href="/patrols/<%= p.id %>">
            <div class="patrol-link">
              <%= p.name %> <span class="right">Score: <%= p.total_gains %></span>
            </div>
          </a>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>

<%= link_to 'Finir le tour', end_turn_path, class: 'btn btn-primary' %>
