<!DOCTYPE html>
<div class="center">
  <h1> Toutes les villes </h1>
</div>
<div class="row">
  <% City.all.each do |c|%>
  <div class="col-lg-4 col-12 ">
    <div class="card" style="margin-bottom: 20px; background-color:lightgrey;">
      <% if c.pillaged %>
        <p class="flash warning">
          La ville est tombée au tour passée
        </p>
      <% else %>
        <p class="flash success">
          La ville s'est défendue au tour passée
        </p>
      <% end %>
      <div class="card-body">
        <div class="center">
          <%= image_tag("#{c.name}.png", alt: "#{c.name}.png", class: 'blason') %>
        </div>
        <% if c.paris? %>
          <h5 class="card-title center"><%= c.name %> - <%= Troop.hold_paris&.name %> </h5>
        <% else %>
          <h5 class="card-title center"><%= c.name %> - <%= c.troop&.name %> </h5>
        <% end %>
        <p class="card-text center">Puissance des fortifications: x <%= c.defense_building_multiplicator%> </p>
        <p class="card-text center">La ville a été pillée <%= c.pillage_count%> fois en tout </p>
      </div>
    </div>
  </div>
  <% end %>
</div>
